<?php

return [
	'propel' => [
		'paths' => [
			'schemaDir' => '/Users/arneau/Documents/api2.opened.bible/app/database/',
			'phpDir' => '/Users/arneau/Documents/api2.opened.bible/app/models/',
		],
	],
];
